<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
      akka {        
        actor {
          provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
          serializers {
            wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
          }
          serialization-bindings {
            "System.Object" = wire
          }
        }
        remote {
          helios.tcp {
            public-hostname = "localhost"
            hostname = "localhost"
            port = 0
          }
        }
        persistence {
          journal {
            plugin = "akka.persistence.journal.sql-server"
            sql-server {
              connection-string = "Server=.;Database=akka-demo;Trusted_Connection=True;"
			        auto-initialize = on
			        plugin-dispatcher = "akka.actor.default-dispatcher"
			        class = "Akka.Persistence.SqlServer.Journal.SqlServerJournal, Akka.Persistence.SqlServer"
			        connection-timeout = 30s
			        schema-name = dbo
			        table-name = EventJournal
			        timestamp-provider = "Akka.Persistence.Sql.Common.Journal.DefaultTimestampProvider, Akka.Persistence.Sql.Common"
			        metadata-table-name = Metadata
            }
            sharding {
              connection-string = "Server=.;Database=akka-demo;Trusted_Connection=True;"
			        auto-initialize = on
			        plugin-dispatcher = "akka.actor.default-dispatcher"
			        class = "Akka.Persistence.SqlServer.Journal.SqlServerJournal, Akka.Persistence.SqlServer"
			        connection-timeout = 30s
			        schema-name = dbo
			        table-name = ShardingJournal
			        timestamp-provider = "Akka.Persistence.Sql.Common.Journal.DefaultTimestampProvider, Akka.Persistence.Sql.Common"
			        metadata-table-name = ShardingMetadata
            }
          }
          snapshot-store {
            sharding {
			        class = "Akka.Persistence.SqlServer.Snapshot.SqlServerSnapshotStore, Akka.Persistence.SqlServer"
			        plugin-dispatcher = "akka.actor.default-dispatcher"
			        connection-string = "Server=.;Database=akka-demo;Trusted_Connection=True;"
			        connection-timeout = 30s
			        schema-name = dbo
			        table-name = ShardingSnapshotStore
			        auto-initialize = on
            }
          }
        }
        cluster {
          auto-down-unreachable-after = 10s
          roles = [ "sharded-node", "pubsub-node" ]
          seed-nodes = [
            "akka.tcp://system@localhost:5000/"
          ]
          pub-sub {
            role = "pubsub-node"
          }
          sharding {
            journal-plugin-id = "akka.persistence.journal.sharding"
            snapshot-plugin-id = "akka.persistence.snapshot-store.sharding"
          }
        }
      }
      ]]>
    </hocon>
  </akka>
</configuration>